@keyframes slide-from-left {
	0% {
	 transform: translateX(-25%);
	}
	100% {
	 transform: translateX(0);
	}
}

@keyframes slide-from-right {
	0% {
	 transform: translateX(25%);
	}
	100% {
	 transform: translateX(0);
	}
}

@keyframes slide-from-top {
	0% {
	 transform: translateY(-25%);
	}
	100% {
	 transform: translateY(0);
	}
}

@keyframes slide-from-bottom {
	0% {
	 transform: translateY(25%);
	}
	100% {
	 transform: translateY(0);
	}
}

:root {
	--scroll: 0;
	--bellow-hero: 0;
	--shadow: rgba(0, 0, 0, 0.579);
}

* {
	scroll-behavior: smooth;
	scroll-margin-top: 3rem;
}

a {
	color: var(--green);
	text-decoration: none;
	cursor:pointer;
	user-select: none;
}

.footer span{
	white-space: pre;
}

body {
	overflow-x: hidden;
	min-height: 100vh;
}

/*----- hero -----*/

.hero {
	width: 100%;
	height: 100vh;
	background-image: var(--image-hero);
	background-size: cover;
	background-position: 0rem calc(10rem * var(--scroll));
	z-index: 1;
}

.hero .message {
	display: block;
	position: absolute;
	align-items: left;
	top: 10rem;
	left: min(100vw - 70vmax,5rem);
	line-height: 3rem;

	white-space: pre;
	font-family: "Inter", serif;
	font-optical-sizing: auto;
	font-size: 3rem;
	color: var(--color-hero-text);
	font-weight: 500;
	text-shadow: 2rem calc(10rem * var(--scroll)) 2rem rgba(0, 0, 0, 0.558);
	animation: 0.5s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 slide-from-left;
}

span.highlight{
	font-weight: bold;
	color: var(--light-green);
}

.message .title{
	font-size: 5rem;
}
.message .sub-message{
	color: gray;
	line-height: 2rem;
	font-size: 1.5rem;
	text-wrap: balance;
	width: 30rem;
}

.message .status{
	color: var(--color-hero-text);
	line-height: 2rem;
	font-size: 1.5rem;
	text-wrap: balance;
	width: 30rem;
}

.message .flag {
	height: 2rem;
	top: 0.5rem;
	position: relative;
}

.hero .logo {
	min-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: max(-10rem, calc(50% - 30rem));
	user-select: none;
}

@media (max-aspect-ratio: 2.1/3) {
	.hero .message {
		font-size: calc(10vw - 0.5rem);
		left: 2rem;
		line-height: calc(11vw - 0.5rem);
	}
	.message .title{
		font-size: calc(16vw - 0.5rem);
	}
	.message .sub-message{
		padding-top: 0.5rem;
		width: 90vw;
		font-size: calc(7vw - 0.5rem);
		line-height: calc(8vw - 0.25rem);
	}
	.message .status{
		padding-top: 1rem;
		width: 90vw;
		word-wrap:break-word;
		font-size: calc(8vw - 0.5rem);
		line-height: calc(3vw - 0.25rem);
	}
	.message .flag {
		height: calc(8vw);
		padding: 1rem;
	}
}

/*----- header -----*/

.header {
	width: 100vw;
	height: 3rem;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 2;
	justify-content: space-between;

	font-size: 1.5rem;
	color: var(--color-hero-text);
	
	color: color-mix(in srgb, var(--color-hero-text),var(--color-text) calc(100% * var(--bellow-hero)));
	background-color: color-mix(in srgb, transparent, var(--color-background) calc(100% * var(--bellow-hero)));
	animation: 0.5s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 slide-from-top;
}

.header .logo {
	height: 2rem;
	margin-top: auto;
	margin-bottom: auto;
}

.header .name {
	box-sizing: border-box;
	height: 100%;
	line-height: 3rem;
	text-overflow: clip;
}
/*Header*/

.header .item {
	flex: 1;
	display: flex;
	height: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}
.header .left {
	align-items: left;
	line-height: inherit;
}

.header .middle {
	flex: 2;
	align-items: center;
	justify-content: center;
	line-height: inherit;
}

.header .right {
	align-items: right;
	flex-direction: row-reverse;
	line-height: inherit;
}

.header .info {
	height: 100%;
	text-decoration: none;
	color: inherit;
	margin: 0 1rem;
	line-height: 3rem;
}

@media (max-aspect-ratio: 2/3) {
	.header .middle {display: none;}
}


/*----- summary -----*/

.summary {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	width: calc(100% - 5rem);
	margin: 0 0;
	padding: 0 0;
}



.summary .preview {
	width: 100%;
	height: 100%;
}

.summary .content {
	width: 100%;
	aspect-ratio: 16/9;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient(to top, transparent 80%, var(--color-background)  120%), linear-gradient(to top,var(--color-background) -10%, transparent 70%), var(--preview);
	vertical-align: bottom;
	display: flex;
	padding: 0.5rem;
	box-sizing: border-box;
	border-radius: 0.25rem;
	border: 2px solid var(--color-background-border);
	box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.112);
	transition: 0.1s;
}

.summary .content:hover{
	transition: 0.1s;
	border: 2px solid white;
	background-image: linear-gradient(to top, transparent 80%, rgba(255, 255, 255, 0.29)  120%), linear-gradient(to top,rgba(147, 147, 147, 0.701) -10%, transparent 70%), var(--preview);
}

.content *{
	color: var(--color-text);
}

.summary .content .info {
	align-self: flex-end;
	text-shadow: 0 0 0.5rem var(--shadow);
}

.summary .content .info{
	font-family: "Inter", serif;
}

.summary .content .title{
	font-weight: bold;
	line-height: 3rem;
	font-size: 2rem;
	margin: 0 0;
	position: relative;
}

.summary .content .date {
	position: absolute;
	font-size: 2rem;
	text-shadow: 0 0 1rem black;
	font-family: "Inter", serif;
	text-align: right;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

@media (max-aspect-ratio: 3/2) {
	.summary {
		grid-template-columns: repeat(2, 1fr);
		width: calc(100% - 3rem);
		}
}

@media (max-aspect-ratio: 2/3) {
	.summary {
		grid-template-columns: repeat(1, 1fr);
		width: calc(100% - 2rem);
		}
	}

	h1.section-title {
		font-size: 4rem;
		font-weight: normal;
		line-height: 4rem;
		font-family: "Inter", serif;
		text-align: center;
	}
	.description {
		width: 50%;
		text-align: justify;
		text-justify: inter-word;
		margin-bottom: 2rem;
	}

	@media (max-aspect-ratio: 2/3) {
		.description {
			grid-template-columns: repeat(1, 1fr);
			width: calc(100% - 2rem);
			}
		}
	
/* ----- section ----- */

.about-me{
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	width: 100vw;
	width: 60rem;
	height: calc(100vh - 10rem);
	
	display: flex;
	flex-direction: row;
}

@media (max-aspect-ratio: 2/3) {
	.about-me{
		max-width: 100vw;
	}
}

.details{
	width: 70%;
	padding: 0 2rem;
	box-sizing: border-box;
	padding: 0 3rem;
	font-size:larger;
	text-align: justify;
}

.redbox{
	border: 1px solid red;
	background-color: rgba(255, 0, 0, 0.188);
}

.details-image {
	border-radius: 0.5rem;
	margin-left: 3rem;
	background-image: url("thumbnails/me.jpg");
	background-size: cover;
	background-position: 40% 10%;
	background-repeat: no-repeat;
	aspect-ratio: 1/2;
	height: 100%;
}

.details.overflowed {
	width: 100%;
	padding: 0 1rem;
}

.details-image.overflowed {
	display: none;
}
/* ----- footer ----- */

.footer {
	margin-top: 2rem;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	background-color: black;
	padding-left: 1rem;
	box-sizing: border-box;
	}